/* General Container Styling */
.store-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
  }
  
  .content-wrap {
    flex: 1;
  }
  
  /* Category Section */
  .category-section-title h2 {
    margin-left: 15px;
    font-size: 1.6rem;
    color: #2d7dd2;
    font-weight: 600;
  }
  
  /* Category Slider */
  .category-slider-item {
    margin: 0 10px; /* Space between items */
  }
  
  .category-section .category-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    border-radius: 12px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    max-width: 120px;
    border: none;
  }
  
  .category-section .category-button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .category-section .category-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 8px;
  }
  
  .category-section .category-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  /* Product Card */
  .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s;
    margin: 15px;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2d7dd2;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #555;
  }
  
  /* Footer Styling */
  .footer {
    text-align: center;
    background-color: #2d7dd2;
    color: white;
    padding: 15px;
    font-size: 0.9rem;
  }